#main-visual {
  background-image: url("../images/pc_section01_4.jpg");
  width: 100%;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
}
#main-visual .main-box {
  text-align: center;
  transform: translateY(50%);
}
#main-visual .main-box .search {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 80px;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 0 10px;
}
#main-visual .main-box .search i {
  margin-left: 40px;
  margin-right: 10px;
}
#main-visual .main-box .search input {
  font-size: 17px;
}
#main-visual .main-box .search button {
  margin-left: auto;
  height: 60px;
  background-color: #e0462e;
  padding: 0 40px;
  border-radius: 50px;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}
#main-visual .main-box .hot {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#main-visual .main-box .hot span {
  font-size: 14px;
  font-weight: 300;
  display: block;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 20px;
}

#happy {
  background-image: url("../images/pc_section02_4.jpg");
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#happy h2 {
  font-size: 36px;
  font-weight: 900;
}
#happy .happy-slide {
  padding-top: 50px;
  width: 1300px;
  overflow: hidden;
}
#happy .happy-slide li {
  transition: all 0.25s ease;
}
#happy .happy-slide li:hover {
  transform: translateY(-20px);
}
#happy .happy-slide li:hover a span {
  background-color: #e0462e;
  font-size: 0;
}
#happy .happy-slide li:hover a span:after {
  content: "view more";
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}
#happy .happy-slide li a img {
  width: 200px;
}
#happy .happy-slide li a span {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 50px;
  padding: 10px 0;
  font-size: 16px;
}
#happy .navigation {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 50%;
}
#happy .navigation .nav-prev {
  position: absolute;
  left: 80px;
}
#happy .navigation .nav-next {
  position: absolute;
  right: 80px;
}

#brand {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#brand h2 {
  font-size: 36px;
  font-weight: 900;
}
#brand .brand-slide {
  width: 1300px;
  padding: 50px 20px 0 20px;
  overflow: hidden;
}
#brand .brand-slide li {
  border: 1px solid #ccc;
  height: 260px;
  width: 16.6666666667%;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.25s ease;
}
#brand .brand-slide li:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.1);
}
#brand .brand-slide li:hover .img-box img {
  transform: translateY(0);
  transform: scale(0.9);
}
#brand .brand-slide li:hover .img-box p {
  opacity: 1;
}
#brand .brand-slide li:hover .img-box a {
  opacity: 1;
}
#brand .brand-slide li .img-box {
  text-align: center;
  margin-top: -30px;
}
#brand .brand-slide li .img-box img {
  transform: translateY(45px);
  transition: all 0.25s ease;
}
#brand .brand-slide li .img-box p {
  font-size: 15px;
  margin-top: 30px;
  line-height: 1.5;
  opacity: 0;
  transition: all 0.25s ease;
  position: relative;
}
#brand .brand-slide li .img-box p:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #ccc;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -15px;
}
#brand .brand-slide li .img-box a {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e0462e;
  color: #fff;
  padding: 15px 0;
  width: 90%;
  border-radius: 30px;
  font-size: 15px;
  opacity: 0;
  transition: all 0.25s ease;
}
#brand .brand-navigation {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 55%;
}
#brand .brand-navigation .nav-prev {
  position: absolute;
  left: 80px;
}
#brand .brand-navigation .nav-next {
  position: absolute;
  right: 80px;
}

#complain {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#complain > h2 {
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 50px;
}
#complain .contents-box {
  width: 1300px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 0 15px 5px rgba(1, 1, 1, 0.1);
}
#complain .contents-box .contents {
  display: flex;
  justify-content: space-between;
}
#complain .contents-box .contents .txt {
  width: 48%;
  aspect-ratio: 1.9;
  background-image: 100%;
  background-position: 50% 50%;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 50px 40px;
  background-repeat: no-repeat;
  overflow: hidden;
}
#complain .contents-box .contents .txt h2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 40px;
}
#complain .contents-box .contents .txt p {
  font-size: 16px;
  line-height: 1.5;
}
#complain .contents-box .contents .txt p span {
  color: #e0462e;
  font-weight: 700;
}
#complain .contents-box .contents .txt .phone-number {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}
#complain .contents-box .contents .mail-box {
  background-image: url("../images/mailbox.png");
}
#complain .contents-box .contents .mail-box span {
  display: flex;
  margin-top: 70px;
  background-color: #e0462e;
  width: 150px;
  justify-content: center;
  padding: 12px 0;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
}
#complain .contents-box .contents .phone {
  background-image: url("../images/phonebox.png");
}
#complain .contents-box .question {
  padding: 40px 0;
  display: flex;
  align-items: center;
}
#complain .contents-box .question a {
  margin-left: auto;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 12px 50px;
  border-radius: 30px;
}
#complain .contents-box .question a:hover {
  background-color: #e0462e;
  color: #fff;
  border: 1px solid #e0462e;
}
#complain .contents-box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#complain .contents-box ul li {
  flex-basis: 45%;
  padding: 30px 20px;
  border-radius: 30px;
  background-color: #f9f9f9;
  margin: 5px 0;
  box-shadow: inset 0 0 10px 2px rgba(1, 1, 1, 0.1);
}

#report {
  padding: 50px 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#report h2 {
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 50px;
}
#report .report-box {
  width: 1300px;
}
#report .report-box ul {
  display: flex;
  justify-content: space-between;
}
#report .report-box ul li {
  background-color: #f9f9f9;
  border-radius: 30px;
  flex-basis: 48%;
  box-shadow: inset 0 0 10px #ccc;
}
#report .report-box ul li a {
  display: flex;
  flex-direction: column;
  height: 240px;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
}
#report .report-box ul li a p {
  margin-bottom: 30px;
}
#report .report-box ul li a span {
  background-color: #e0462e;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
}

#footer {
  padding: 50px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
}
#footer .address img {
  margin-bottom: 20px;
}
#footer .address p {
  line-height: 2;
  font-size: 16px;
}
#footer .address .copyright {
  margin-top: 100px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
#footer .sns {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
#footer .sns .map {
  display: flex;
  margin-left: auto;
}
#footer .sns .map a:nth-child(1) {
  margin-right: 30px;
}
#footer .sns .icons {
  margin-top: auto;
}
#footer .sns .icons ul {
  display: flex;
  align-items: center;
}
#footer .sns .icons ul li {
  margin-left: 20px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(1, 1, 1, 0.5);
}
#footer .sns .icons ul li a {
  border-radius: 100%;
  background-color: #1b1b1b;
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 1px 3px 10px rgba(255, 255, 255, 0.05);
}
#footer .sns .icons ul li.flag {
  margin-left: 50px;
  border-radius: 80px;
  box-shadow: 2px 2px 5px rgba(1, 1, 1, 0.5);
}
#footer .sns .icons ul li.flag > a {
  width: 300px;
  border-radius: 80px;
  font-size: 14px;
}
#footer .sns .icons ul li.flag > a img {
  margin-right: 10px;
}
#footer .sns .icons ul li.flag > a strong {
  font-weight: 900;
}