@import "vars";
@import "mixins";
// @붙이면 가져올수 있다. (import할때는 제목의 언더바를 붙이지 않는다)

@font-face {
  font-family: "Binggrae";
  src: url("../fonts/Binggrae.woff");
}
@font-face {
  font-family: "Binggrae-Bold";
  src: url("../fonts/Binggrae-Bold.woff");
}

body {
  font-family: "Binggrae", "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 18px;
  overflow-x: hidden;
  //background-color: green;
  // min-height: 3000px;
}

a {
  text-decoration: none;
  color: inherit;
}

//이미지는 글자처럼 처리된다.
img {
  vertical-align: top;
  //이걸쓰면 이미지 위로 붙여 준다. 안쓰면 이미가 살짝 벌어짐
}

button,
input {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

#header {
  position: fixed;
  z-index: 99;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 120px;
  transition: all 0.5s ease;
  &.on {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  &.slideDown {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.1);
    height: 480px;
    border-radius: 0 0 50px 50px;
    &:before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      top: 120px;
      left: 0;
      background-color: #ccc;
    }
    nav {
      > ul {
        .depth02 {
          visibility: visible;
          opacity: 1;
          transition: all 0.5s ease 0.3s;
          pointer-events: auto;
        }
      }
    }
  }
  h1 > a {
    height: 120px;
    display: flex;
    align-items: center;
  }
  nav {
    &.on {
      display: none;
    }
    > ul {
      display: flex;
      position: relative;

      .depth01 {
        font-weight: 600;
        font-size: 16px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 60px;
      }
      .depth02 {
        visibility: hidden;
        font-size: 14px;
        padding: 10px 0;
        position: absolute;
        pointer-events: none;
        opacity: 0;
        color: #333;
        li {
          padding: 10px 0;
        }
      }
    }
  }
  #util {
    height: 120px;
    display: flex;
    align-items: center;
    .trans {
      cursor: pointer;
      position: relative;
      i {
        margin-left: 5px;
        font-size: 16px;
      }
      ul {
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 10px;
        margin-top: 10px;
        border-radius: 20px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        li {
          line-height: 1.5;
        }
      }
    }
    .btn-all {
      cursor: pointer;
      width: 30px;
      height: 50px;
      position: relative;
      margin-left: 40px;
      &.on {
        span {
          &:nth-child(1) {
            top: 25px;
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            top: 25px;
            transform: rotate(-45deg);
          }
          &:nth-child(2) {
            transform: translateX(-100px);
            opacity: 0;
          }
        }
      }
      span {
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #111;
        transition: all 0.25s ease;
        &:nth-child(1) {
          top: 15px;
        }
        &:nth-child(2) {
          top: 25px;
        }
        &:nth-child(3) {
          top: 35px;
        }
      }
    }
  }
  .menuslide {
    &.on {
      display: block;
      background-color: #fff;
    }
    display: none;
    position: absolute;
    z-index: -1;
    background-image: url("../images/pc_ham_bg.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 100%;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    > ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 0 20px;
      > li {
        width: calc(100% / 5 - 20px);
        border: 1px solid #ccc;
        background-color: #fff;
        margin: 0 10px;
        border-radius: 20px;
        height: 450px;
        box-sizing: border-box;
        padding: 50px 20px;
        font-size: 20px;
        font-weight: 700;
        transition: all 0.25s ease;

        .depth02 {
          font-size: 16px;
          color: #333;
          font-weight: 400;
          padding: 10px 0;
          li {
            line-height: 2;
          }
        }
      }
    }
  }
}

.topBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #111;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 99;
  i {
    color: #fff;
  }
  &.show {
    opacity: 1;
  }
}

@media all and (min-width: 1080px) {
  #header {
    nav {
      > ul {
        > li {
          position: relative;
        }
        .depth01 {
          &:hover {
            color: #f00;
            &:after {
              content: "";
              width: 5px;
              height: 5px;
              background-color: #f00;
              border-radius: 100px;
              position: absolute;
              right: 40px;
              top: 50px;
            }
          }
        }
        .depth02 > li {
          &:hover {
            color: #f00;
          }
        }
      }
    }
    .menuslide {
      > ul {
        > li {
          &:hover {
            box-shadow: 0px 0px 10px 2px rgba(1, 1, 1, 0.2);
            transform: translateY(-10px);
            color: #f00;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1080px) {
  #header {
    height: 100px;
    h1 > a {
      height: 100px;
      position: relative;
      z-index: -2;
      img {
        position: absolute;
        z-index: 2;
      }
    }
    #util {
      height: 100px;
    }
    nav {
      display: none;
    }
    .menuslide {
      box-shadow: 0px 0px 1000px 1000px rgba(1, 1, 1, 0.2);
      width: 50%;
      position: absolute;
      right: 0;
      left: auto;
      background-image: none;
      border-radius: 50px 0 0 0;
      background-color: #fff;
      > ul {
        flex-direction: column;
        justify-content: start;
        padding: 0;
        margin-top: 100px;
        border-top: 1px solid#ccc;
        padding-top: 10px;
        > li {
          font-size: 18px;
          display: flex;
          flex-direction: column;
          border-radius: 0;
          width: 100%;
          height: auto;
          border: none;
          padding: 0;
          margin: 0;

          > a {
            padding: 15px 30px;
            position: relative;
            &:before {
              content: "\f107";
              font-family: "FontAwesome";
              position: absolute;
              right: 20px;
              font-size: 16px;
            }
            &.on {
              &:before {
                transform: rotate(180deg);
              }
            }
          }
          .depth02 {
            padding: 5px 30px;
            background-color: #f7f7f7;
            color: #555;
            display: none;
            li {
              font-size: 15px;
              &:hover {
                color: #f00;
              }
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 860px) {
  #header {
    height: 80px;
    h1 > a {
      height: 80px;
      img {
        height: 30px;
      }
    }
    #util {
      height: 80px;
    }
    nav {
      display: none;
    }
    .menuslide {
      width: 80%;
      > ul {
        margin-top: 80px;
      }
    }
  }
}
